body {
    background-color: rgb(245, 241, 237);
    color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  div {
    margin: 20px;
    padding: 20px;
    background-color: rgb(4, 4, 24);
    border: 1px solid rgb(58, 20, 163);
    border-radius: 5px;
  }
  
  h1 {
    color: #16d826;
  }
  
  p {
    line-height: 1.5;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }
  
  th, td {
    border: 1px solid rgb(75, 8, 77);
    padding: 8px;
    text-align: left;
  }
  
  form {
    margin-top: 15px;
  }