<!-- 
Name: Rushmitha Kommana
UCID: rk958
Date of submission: 19-04-2024
-->


{% extends 'base.html' %}

{% block title %}About - My Website{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">About Myself</h1>
          <p class="card-text">Hi there! My name is Rushmitha Kommana, and I'm from Andhra Pradesh. Currently, I am pursuing my Master's degree in Computer Science at the New Jersey Institute of Technology.</p>
          <p class="card-text">In my spare time, I enjoy listening to music, playing games, and cooking delicious meals.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
