<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
  <div class="container">
    <section id="personal Information">
      <div id="img-container">
        <img src="{% static 'C:\Users\Rushmitha K\OneDrive\Desktop\is601\project\portfolio\static\rush img (1).jpg' %}" alt="Your Image" width="300" height="300">
      </div>
    </section>
    <section id="resume content">
      <h1>About My self:</h1>
      <p> My self is Rushmitha kommana, I am from Andhra pradesh. currently i am doing my masters in new jersey institute of technology in computer science. </p>.</p>

      <h1>Phone:</h1>
      <p>0000000000000</p>

      <h1>Email:</h1>
      <p>rk958@njit.edu</p>

      <h1>Github:</h1>
      <p><a href="https://github.com/example">Github Link</a></p>
    </section>
  </div>

  <footer>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="{% url 'project' %}">Project</a></li>
      </ul>
    </nav>
  </footer>
</body>
</html>
